{
  "swagger": "2.0",
  "info": {
    "description": "This is the \"Movies\" api.\n",
    "version": "1.0.0",
    "title": "Movies API"
  },
  "host": "symfony.dev",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/oauth/v2/token": {
      "post": {
        "summary": "Authenticate via username and password.",
        "description": "",
        "parameters": [
          {
            "in": "body",
            "name": "credentials",
            "description":"{ \"grant_type\": \"password\",\r\n \"client_id\": \"1_3bcbxd9e24g0gk4swg0kwgcwg4o8k8g4g888kwc44gcc0gwwk4\",\r\n \"client_secret\": \"4ok2x70rlfokc8g0wws8c8kwcokw80k44sg48goc0ok4w0so0k\",\r\n \"username\": \"admin\",\r\n \"password\": \"today123\"}\r\n",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OAuthCredentials"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "definitions": {
    "OAuthCredentials": {
      "type": "object",
      "required": [
        "grant_type",
        "client_id",
        "client_secret",
        "username",
        "password"
      ],
      "properties": {
        "grant_type": {
          "type": "string"
        },
        "client_id": {
          "type": "string"
        },
        "client_secret": {
          "type": "string"
        },
        "username": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    }
  }
}